<nz-layout class="hd-login">
  <nz-header>
    <hd-nav-bar viewTitle="地区"></hd-nav-bar>
  </nz-header>
  <nz-content>
	<div class="list">
		<div class="list-title">全部</div>
		<div class="list-item">成都</div>
		<div class="list-item">成都</div>
		<div class="list-item">成都</div>
		<div class="list-item">成都</div>
		<div class="list-item">成都</div>
		<div class="list-item">成都</div>
		<div class="list-item">成都</div>
		<div class="list-item">成都</div>
		<div class="list-item">成都</div>
	</div>
  </nz-content>
</nz-layout>
