<nz-layout [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="申请列表"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list apply-list">
      <div *ngFor="let item of data" [@shrinkOut] class="oh">
       <div class="list-item" nz-row>
         <a routerLink="/admin/myapply/{{item?.sid}}" nz-col [nzSpan]="16">
           <span><span class="red">{{item?.statusText}}</span><span class="ml10 line-through">{{item?.date}}</span> <span class="ml10">{{item?.time}}</span></span>
           <strong>申请人：{{item?.sname}}</strong>
         </a>
         <div nz-col [nzSpan]="8">
           <i class="anticon anticon-delete" (click)="showModal(item)"></i>
           <p>{{item?.slevel}} <span>￥<i>{{item?.price}}</i></span></p>
         </div>
       </div> 
       <div class="list-title"></div>
      </div>
    </div>
  </nz-content>
</nz-layout>
