<nz-layout class="hd-login" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="我要升级"></hd-nav-bar>
  </nz-header>
  <nz-content>
	<nz-table #nzTable [nzBordered]="true" [nzDataSource]="data" [nzPageSize]="10"  class="bgWhite upgrade">
      <thead nz-thead>
        <tr>
          <th nz-th>队列</th>
          <th nz-th>付费总额</th>
          <th nz-th>付费情况</th>
        </tr>
      </thead>
      <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
          <td nz-td>
            <img src="/assets/images/grade1.png" height="30"  alt=""/><span>一级</span>
          </td>
          <td nz-td>￥120</td>
          <td nz-td>1/3</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
