<nz-footer class="hd-footer">
	<p class="login-link" *ngIf="!isLogin">
		<a routerLink="/login">登录</a><span>|</span>
		<a routerLink="/register">注册</a>
	</p>
	<p class="mt10 link">
		<a routerLink="/home">首页</a>
		<a routerLink="/home">电脑版</a>
		<a routerLink="/home">互动广告</a>
		<a routerLink="/home">互动微信</a>
		<a routerLink="/home">互动微博</a>
		<a routerLink="/home">互动QQ</a>
	</p>
	<p class="fs12">
		Copyright &nbsp;&nbsp; 2015-2020  &nbsp;&nbsp;  LIECW  &nbsp;&nbsp;    ALL  &nbsp;&nbsp;   Right  &nbsp;&nbsp;   Reserver &nbsp;&nbsp;    版权所有 京ICP备********
	</p>
</nz-footer>