<nz-layout class="hd-pe" [@simAnim]="'flyIn'">
    <hd-nav-bar viewTitle="产品体验" btnType="link" btnIcon="anticon anticon-home" btnLink="/home"></hd-nav-bar>
    <nz-content>
      <div *ngIf="pe.src">
        <div class="bgWhite">
            <img [defaultImage]="defaultImg"  [lazyLoad]="pe.src" [offset]="100" class="img-responsive" *ngIf="pe.src">
            <div class="bgWhite mt20 mb20 lrSpace" *ngIf="pe.dsc">{{pe.dsc}}</div>
            <nz-collapseset [nzBordered]="false" *ngIf="pe.dsc">
              <nz-collapse  [nzTitle]="'查看更多'">
                <p>{{pe.more}}</p>
              </nz-collapse>
            </nz-collapseset>
        </div>
        <div nz-row class="bar" *ngIf="pe.name">
            <div nz-col [nzSpan]="20">{{pe.name}}</div>
            <div nz-col [nzSpan]="4" class="tr"><span class="red">{{pe.price}}</span></div>
        </div>
        <div class="hd-pe-btn">
            <a href="javascript: void(0);">立即免费领取</a>
        </div>
        <div class="bt bgWhite lrSpace tbSpace article" [innerHTML]="pe.article" *ngIf="pe.article"></div>  
      </div>
    </nz-content>
    <hd-foot></hd-foot>
</nz-layout>
