<nz-layout [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="我的订单"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list" *ngIf="data.length">
      <div *ngFor="let item of data" [@simAnim]="'shrinkOut'">
    		<div nz-row class="list-item">
    			<div nz-col [nzSpan]="24" class="product-title">{{item.status}} <span>{{item.date}}</span> <span>{{item.time}}</span><i class="anticon anticon-delete fr" (click)="delete(item)"></i></div>
    			<div nz-col [nzSpan]="8">
    				<a routerLink="/orderd/{{item.pid}}"><img src="/assets/images/img1.png" alt="" class="img-responsive"></a>
    			</div>
    			<div nz-col [nzSpan]="16" class="product-dsc">
    				<h1>{{item.pname}}</h1>
    				<p>{{item.num}} <span class="blue">{{item.price}}</span> <span class="line-through">{{item.sprice}}</span></p>
    			</div>
    		</div>
    		<div class="list-title"></div>
    	</div>	
  	</div>
  	<div class="order-empty" *ngIf="!data.length">
  		<img src="/assets/images/cart.png"   alt=""/>
         <p class="mt40 fc999">当前没有订单，马上免费领取体验品吧~</p>
         <p class="mt20"><a href="" class="btn-blue">免费领取</a></p>
  	</div>
  </nz-content>
</nz-layout>
