<nz-layout class="agent">
  <nz-header>
    <hd-nav-bar viewTitle="签约代理"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div nz-row class="bgWhite lrSpace tbSpace">
        <div nz-col [nzSpan]="24">
        	<h1 class="tc mt20">互动广告经纪人积分规则</h1>
            <p class="mt10">一、积分取得办法：</p>
            <p><img src="/assets/images/p_dot1.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot1.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot1.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot1.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>

            <p class="fs18 mt10">一、积分取得办法：</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>

            <p class="fs18 mt10">一、积分取得办法：</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot3.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot3.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot3.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
        </div>
    </div>

    <div class="pop_mes fs20" style="display:none">
    <div class="pop-body tcenter borb1">
      <p>我们将扣除3万积分</p>
       <p class="mt10"><img src="/assets/images/mes.png"  height="100" alt="" /></p>
    </div>
    <div class="lh40 tcenter"><a href="" class=" fc3e">确定</a></div>

  </div>
 
<div class="pop_mes fs20" style="display:block">
    <div class="pop-body tcenter borb1">
      <p>签约失败</p>
      <p class="fs16 tleft mt10">您的当前等级未满8级或者您的积分未达到3万分</p>
       <p class="mt10 "><img src="/assets/images/mes1.png"  width="200" alt="" /></p>
    </div>
    <div class="lh40 tcenter"><a href="" class=" fc3e">确定</a></div>

  </div>
  </nz-content>
</nz-layout>
