<nz-layout class="hd-login">
  <nz-header>
    <hd-nav-bar viewTitle="实名认证"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<form>
  		<div class="hd-form-group bt" nz-row>
  			<label nz-col [nzSpan]="6">真实姓名</label>
  			<input nz-col [nzSpan]="18" type="" name="">
  		</div>
      <div class="hd-form-group" nz-row>
        <label nz-col [nzSpan]="6">身份证号</label>
        <input nz-col [nzSpan]="18" type="password" name="" minlength="6" maxlength="20">
      </div>
  		<div class="login-btn-box">
  			<div class="login-btn">
  				<a href="javascript: void(0);">保存</a>
  			</div>
  		</div>
  	</form>
  </nz-content>
</nz-layout>
