<nz-layout>
  <nz-header>
    <hd-nav-bar viewTitle="短信分享"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list">
  		<div class="list-title sm-title" nz-row>
  			<div nz-col [nzSpan]="24">
  				分配财富 分享存在
           		<span>邀请您一生中最想帮助的人</span>
  			</div>
  		</div>
		<div class="list-item" nz-row>
			<span nz-col [nzSpan]="24">我已经成为互动广告经纪人...</span>
		</div>
		<div class="list-item" nz-row>
			<span nz-col [nzSpan]="24">我已经成为互动广告经纪人...</span>
		</div>
  	</div>
  	<div class="login-btn-box">
		<div class="login-btn login-btn-green">
			<a href="javascript: void(0);">发送</a>
		</div>
	</div>
  </nz-content>
</nz-layout>
