<nz-layout [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="短信分享"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list">
  		<div class="list-title sm-title" nz-row>
  			<div nz-col [nzSpan]="24">
  				分配财富 分享存在
           		<span>邀请您一生中最想帮助的人</span>
  			</div>
  		</div>
  		<div class="list-item" [class.list-item-active]="item.isactive" nz-row *ngFor="let item of data" (click)="changeStatus(item)">
  			<span nz-col [nzSpan]="24">{{item.mdetail}}</span>
  		</div>
  	</div>
  	<div class="login-btn-box">
		<div class="login-btn login-btn-green" [class.login-btn-disabled]="!isCanSend">
			<button (click)="send()">发送</button>
		</div>
	</div>
  </nz-content>
</nz-layout>
