<nz-layout class="hd-login" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="通讯录" btnType="link" btnIcon="anticon anticon-plus" btnLink="/admin/mail/-1"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list">
		<div  class="list-item oh" nz-row *ngFor="let item of data" [@shrinkOut]>
			<a routerLink="/admin/mail/{{item.cid}}" nz-col [nzSpan]="20">
				<span>{{item.cname}}</span>
				<span class="tr c999 fr">{{item.cphone}}</span>
			</a>
			<i nz-col [nzSpan]="4" (click)="showModal(item)">删除</i>
		</div>
 	</div>
  </nz-content>
</nz-layout>
