<nz-layout class="hd-login" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="分享"></hd-nav-bar>
  </nz-header>
  <nz-content>
	<div class="bgWhite lrSpace tbSpace">
		<img src="/assets/images/wx.png" alt="" class="img-responsive">
		<p class="mt20">这是您个人专属的二维码，任何情况扫码注册都将正价您的团队成员。</p>
	</div>
	<div class="s-share container-fluid bg-white tcenter pb20">

         <h1 class="tcenter">分享</h1>
         <div class="row">
           <div class="col-xs-4">
             <a href=""><img src="/assets/images/icon5.png"  alt="" /><br />微信好友</a>
           </div>
           <div class="col-xs-4">
             <a href=""><img src="/assets/images/icon6.png"  alt="" /><br />QQ</a>
           </div>
           <div class="col-xs-4">
             <a href=""><img src="/assets/images/icon7.png"  alt="" /><br />微信朋友圈</a>
           </div>
         </div>
          <div class="row mt10">
           <div class="col-xs-4">
             <a href=""><img src="/assets/images/icon8.png"  alt="" /><br />QQ空间</a>
           </div>
           <div class="col-xs-4">
             <a href=""><img src="/assets/images/icon9.png"  alt="" /><br />新浪微博</a>
           </div>
           <div class="col-xs-4">
             <a href=""><img src="/assets/images/icon10.png"  alt="" /><br />短信</a>
           </div>
         </div>

       </div>
  </nz-content>
</nz-layout>
