.share {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px 10px;
	z-index: 10000;
	visibility: hidden;
}
.share-mark {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
}
.share.active {
	visibility: visible;
}
.share img {
	position: relative;
	bottom: -8px;
	display: block;
	width: 50%;
	max-width: 100%;
	margin: 5px auto;
}
.share a {
	line-height: 0;
}
.share-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	transform: translateY(100%);
	transition: all .4s;
}
.share.active .share-container {
	transform: translateY(0);
}
.share-container h1 {
	font-size: 2.4rem;
	margin-top: 10px;
}
.share-cancel {
	font-size: 1.6rem;
	color: #666;
	border-top: 1px solid #d7d7d7;
	padding: 15px 10px;
	clear: both;
	margin-top: 15px;
}