<nz-layout class="hd-login" [@simAnim]="'zoomIn'">
  <nz-header>
    <hd-nav-bar viewTitle="登录"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<form #loginForm="ngForm" (ngSubmit)="login()">
  		<div class="hd-form-group bt" nz-row>
  			<label nz-col [nzSpan]="6">用户名</label>
  			<input nz-col [nzSpan]="18" type="" name="name" [(ngModel)]="name" placeholder="请输入用户名" required #user="ngModel">
  		</div>
      <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请输入6-20位的用户名！'" [hidden]="user.valid || user.pristine"></nz-alert>
      <div class="hd-form-group" nz-row>
        <label nz-col [nzSpan]="6">密码</label>
        <input nz-col [nzSpan]="18" type="password" name="password" minlength="6" maxlength="20" [(ngModel)]="password"  placeholder="请输入密码" required #pwd="ngModel"> 
      </div>
      <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请输入6-20位的密码！'" [hidden]="pwd.valid || pwd.pristine || !user.valid"></nz-alert>

      <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'登录失败，用户名或密码错误！'" [hidden]="isLogin"></nz-alert>

  		<div class="login-btn-box">
  			<div class="login-btn" [class.login-btn-disabled]="!loginForm.form.valid">
  				<button type="submit" [disabled]="!loginForm.form.valid">登录</button>
  			</div>
  			<div class="login-tip">
  				<a routerLink="/auth/register">注册</a>
  				<a routerLink="/auth/getpwd">忘记密码？</a>
  			</div>
  		</div>
  	</form>
  </nz-content>
</nz-layout>
