<nz-layout [@simAnim]="'flyIn'" class="agent">
  <nz-header>
    <hd-nav-bar viewTitle="签约代理"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div nz-row class="bgWhite lrSpace tbSpace">
        <div nz-col [nzSpan]="24">
        	<h1 class="tc mt20">互动广告经纪人积分规则</h1>
            <p class="mt10">一、积分取得办法：</p>
            <p><img src="/assets/images/p_dot1.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot1.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot1.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot1.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>

            <p class="fs18 mt10">一、积分取得办法：</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>

            <p class="fs18 mt10">一、积分取得办法：</p>
            <p><img src="/assets/images/p_dot2.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot3.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot3.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
            <p><img src="/assets/images/p_dot3.png"  alt=""/>注册拥有经纪人账号积200分原始积分</p>
        </div>
    </div>
    <div class="login-btn-box">
      <div class="login-btn" [class.login-btn-disabled]="hdState.isSign">
        <button (click)="showModal(confirmTpl)">{{hdState.isSign ? '已签约' : '我要签约'}}</button>
      </div>
    </div>

    <ng-template #confirmTpl>
      <div>
        <p>我们将扣除3万积分</p>
        <p class="mt10"><img src="/assets/images/mes.png"  height="100" alt="" /></p>
      </div>
    </ng-template>
  </nz-content>
</nz-layout>
