.hd-footer {
	margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #333;
    background: #fff;
    padding: 20px 10px;
    font-size: 1.2rem;
}
.login-link a{
    font-size: 1.6rem;
    color: #333 !important;
}
.login-link span {
    margin:  0 5px;
}
.link a {
    display: inline-block;
    margin: 0 5px;
    color: #333;
}
.link a:hover {
    text-decoration: underline;
}