.hd-loading-wrapper {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    color: red;
    background: rgba(0, 0, 0, 0);
}
.hd-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -26px;
    padding: 14px 30px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    border-radius: 4px;
}
