<nz-header class="hd-nav-bar">
    <div nz-row>
        <div nz-col [nzSpan]="4" class="tl goBack">
        	<a href="javascript: history.go(-1);"><i class="anticon anticon-left"></i></a>
        </div>
        <div nz-col [nzSpan]="14">{{viewTitle}}</div>
        <div nz-col [nzSpan]="6" class="tr">
            <a (click)="emitter()" *ngIf="hasBtn && btnType == 'btn'">
                <span class="nav-right-btn" *ngIf="btnText">{{btnText}}</span>
                <i class="{{btnIcon}}" *ngIf="btnIcon"></i>
            </a>
            <a *ngIf="hasBtn && btnType == 'link'" [routerLink]="[btnLink]">
                <span class="nav-right-btn" *ngIf="btnText">{{btnText}}</span>
                <i class="{{btnIcon}}" *ngIf="btnIcon"></i>
            </a>
        </div>
    </div>
</nz-header>

