<nz-layout class="orderd" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="订单详情"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list">
  		<div class="list-item orderd-top-title" nz-row>
  			<span nz-col [nzSpan]="24">订单已发货<strong>等待买家发货</strong></span>
  		</div>
  		<div nz-row class="list-item step" nz-row>
  				<div class="step-l active" nz-col [nzSpan]="8">
  					<img src="/assets/images/step_bg1.png"  alt="" /><span>订单已提交</span>
  				</div>
          		<div nz-col [nzSpan]="8" class="step-c activel activer"><img src="/assets/images/step_bg4.png"  alt="" /><span>已发货</span></div>
  				<div class="step-r active" nz-col [nzSpan]="8">
  					<img src="/assets/images/step_bg2.png"  alt="" />
  					<span>确认发货</span>
  				</div>

  				<div class="step-l active" nz-col [nzSpan]="8">
  					<img src="/assets/images/step_bg1.png"  alt="" /><span>订单已提交</span>
  				</div>
          		<div nz-col [nzSpan]="8" class="step-c activel"><img src="/assets/images/step_bg444.png"  alt="" style="top: -2px;" /><span>已发货</span></div>
  				<div class="step-r" nz-col [nzSpan]="8">
  					<img src="/assets/images/step_bg22.png"  alt="" />
  					<span>确认发货</span>
  				</div>

  				<div class="step-l" nz-col [nzSpan]="8">
  					<img src="/assets/images/step_bg6.png"  alt="" /><span>订单已提交</span>
  				</div>
          		<div nz-col [nzSpan]="8" class="step-c"><img src="/assets/images/step_bg44.png"  alt="" style="top: -2px;" /><span>已发货</span></div>
  				<div class="step-r" nz-col [nzSpan]="8">
  					<img src="/assets/images/step_bg22.png"  alt="" />
  					<span>确认发货</span>
  				</div>
  		</div>
  		<div class="list-title">
  			<br>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="16">藏玛咖</span>
  			<span nz-col [nzSpan]="4">X1</span>
  			<span nz-col [nzSpan]="4">￥0.00</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24" class="tr c3e">合计：￥0.00</span>
  		</div>
  		<div class="list-title">
  			<br>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24" class="orderd-title">配送信息</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24">配送方式：快递</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24">运单号：1568546854652135</span>
  		</div>
  		<div class="list-title">
  			<br>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="12" class="orderd-title">订单详情</span>
  			<span nz-col [nzSpan]="10" class="tr">订单号：1586546856</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24">联系人：某某</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24">联系电话：3658546950</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24">收货地址：四川省成都市锦江区XXXX</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24">支付方式：微信支付</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24">下单时间：2015-10-28 11:44</span>
  		</div>
  		<div class="list-item" nz-row>
  			<span nz-col [nzSpan]="24">送达时间：</span>
  		</div>
  	</div>
  </nz-content>
</nz-layout>
