<nz-layout class="hd-login">
  <nz-header>
    <hd-nav-bar viewTitle="我的申请"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list">
  		<div nz-row class="list-item progress">
  			<span nz-col [nzSpan]="24">已通过<i>您已通过猫儿的审核</i></span>
  		</div>
  		<div nz-row class="list-item step" nz-row>
  				<div class="step-l active" nz-col [nzSpan]="8">
  					<img src="/assets/images/step_bg1.png"  alt="" /><span>待审核</span>
  				</div>
          <div nz-col [nzSpan]="8" class="step-c active"></div>
  				<div class="step-r active" nz-col [nzSpan]="8">
  					<img src="/assets/images/step_bg2.png"  alt="" />
  					<span>已审核</span>
  				</div>
  		</div>
  		<div nz-row class="list-title">
  			<span nz-col [nzSpan]="24">&nbsp;</span>
  		</div>
  		<div nz-row class="list-item examine"><span nz-col [nzSpan]="24">审核信息</span></div>
  		<div nz-row class="list-item"><span nz-col [nzSpan]="24">审核人编号：349025</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">姓名：应秋兰</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">联系电话：13658546950</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">银行户名：工商银行</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">银行账号：6217995840011368578</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">金额：￥60</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">备注：第一级</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">申请时间：2015-10-15   <span class="ml10">11:44</span></span></div>
  	</div>
  	<div class="login-btn-box">
		<div class="login-btn login-btn-disabled">
			<a href="javascript: void(0);">已通过</a>
		</div>
	</div>

  <div class="pop_mes fs20" style="display:none">
    <div class="pop-body tcenter borb1 " style="height:160px">
    <div><p>恭喜您！</p>
      <p class="fs16 tcenter">成为二级经纪人</p>
      </div>
    
       <p class="mt10 "><img src="/assets/images/mes_bg.png "   alt="" class="img-responsive mb10 grade-suc"  /></p>
    </div>
    <div class="lh40 tcenter"><a href="" class=" fc3e">确定</a></div>

  </div>

  <div class="pop_mes " style="display:block">
    <div class="pop-body tcenter borb1 tcenter">
      <p><img src="/assets/images/suc_img.png"  alt="" width="50" /></p>
      <p class="fs16  mt10 fc54">恭喜您申请成功！</p>
       <p class="mb10">您的审核人只有在收到您的升级<br />佣金后才能给您确认升级！<br />
审核人联系方式:<br>
18782978934</p>
    </div>
    <div class="lh40 tcenter"><a href="" class=" fc3e">前往支付佣金</a></div>

  </div>

  </nz-content>
</nz-layout>
