<nz-layout class="hd-login" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="广告列表"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div nz-row class="mt10 " *ngIf="data.length">
  		<div nz-col [nzSpan]="12" class="ad oh" *ngFor="let item of data" [@shrinkhwOut]>
  			<div class="close" (click)="showModal(item)"><i class="anticon anticon-delete"></i></div>
  			<div class="bgWhite">
	  			<a class="ad-img" routerLink="/adadd/99" [ngStyle]="{'background-image': 'url(' + item.imgsrc +')'}"></a>
	  			<div class="ad-text">
	  				<h1>{{item.title}}</h1>
	  				<p>{{item.dsc}}</p>
	  			</div>
	  		</div>
		</div>
	</div>
	<!-- 没有广告 -->
	<div nz-row class="mt10 " *ngIf="!data.length">
  		<div nz-col [nzSpan]="24" class="ad-empty">
  			<img src="/assets/images/up_ad.png" alt=""><br>
  			快点上传广告体验商品吧~ <br>和大家分享你的好东西<br><br>
  			<a href="" routerLink="/adadd/99">我要上传</a>
  		</div>
  	</div>
  </nz-content>
</nz-layout>
