<nz-layout class="hd-login">
  <nz-header>
    <hd-nav-bar viewTitle="个人资料"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list">
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6">我的昵称</span>
       <span nz-col [nzSpan]="16" class="tr c999">互动广告</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6">登录名</span>
       <span nz-col [nzSpan]="16" class="tr c999">13684054806</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6">详细地址</span>
       <span nz-col [nzSpan]="16" class="tr c999">四川省成都市新都区</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <div class="list-title" nz-row>
       <span nz-col [nzSpan]="24">联系方式</span>
     </div>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6">电话</span>
       <span nz-col [nzSpan]="16" class="tr c999">13684054806</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <a routerLink="/email" class="list-item" nz-row>
       <span nz-col [nzSpan]="6">邮箱</span>
       <span nz-col [nzSpan]="16" class="tr c999">390778266@qq.com</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <div class="list-title" nz-row>
       <span nz-col [nzSpan]="24">账号绑定</span>
     </div>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6"><img src="/assets/images/icon14.png" alt=""><strong>QQ</strong></span>
       <span nz-col [nzSpan]="16" class="tr blue">未绑定</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6"><img src="/assets/images/icon13.png" alt=""><strong>微信</strong></span>
       <span nz-col [nzSpan]="16" class="tr blue">未绑定</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6"><img src="/assets/images/icon12.png" alt=""><strong>陌陌</strong></span>
       <span nz-col [nzSpan]="16" class="tr blue">未绑定</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6"><img src="/assets/images/icon11.png" alt=""><strong>微博</strong></span>
       <span nz-col [nzSpan]="16" class="tr blue">未绑定</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <div class="list-title" nz-row>
       <span nz-col [nzSpan]="24">安全信息</span>
     </div>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6">实名认证</span>
       <span nz-col [nzSpan]="16" class="tr c999">应龙</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <a routerLink="" class="list-item" nz-row>
       <span nz-col [nzSpan]="6">收款账号</span>
       <span nz-col [nzSpan]="16" class="tr c999">390778266@qq.com</span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
     <a routerLink="/updatepwd" class="list-item" nz-row>
       <span nz-col [nzSpan]="6">修改密码</span>
       <span nz-col [nzSpan]="16" class="tr c999"></span>
       <i nz-col [nzSpan]="2" class="anticon anticon-right"></i>
     </a>
    </div>
  </nz-content>
</nz-layout>
