<nz-layout [@simAnim]="'flyIn'" class="hd-login">
  <nz-header>
    <hd-nav-bar viewTitle="开户"></hd-nav-bar>
  </nz-header>
  <nz-content>
	<form #updateForm="ngForm" (ngSubmit)="update()">
  		<div class="hd-form-group bt" nz-row>
  			<label nz-col [nzSpan]="9">开户名</label>
  			<input nz-col [nzSpan]="15" type="text" name="name" [(ngModel)]="data.name" placeholder="请输入开户名" required #nameRef="ngModel" minlength="2" maxlength="6" (focus)="hideUpdateError()">
  		</div>
      	<nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请输入2-6位开户名！'" [hidden]="nameRef.valid || nameRef.pristine"></nz-alert>

        <div class="hd-form-group" nz-row>
  			<label nz-col [nzSpan]="9">开户身份证号</label>
  			<input nz-col [nzSpan]="15" type="text" name="ID" [(ngModel)]="data.ID" placeholder="请输入开户身份证号" required #IDRef="ngModel" minlength="15" maxlength="18" (focus)="hideUpdateError()">
  		</div>
      	<nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请输入15-18位开户人身份证号！'" [hidden]="IDRef.valid || IDRef.pristine"></nz-alert>

        <div class="hd-form-group" nz-row>
  			<label nz-col [nzSpan]="9">开户银行</label>
  			<nz-select name="oatype" class="ant-col-15" [(ngModel)]="data.oaType" [nzPlaceHolder]="'选择开户银行'" nzAllowClear required #oaTypeRef="ngModel">
		      <nz-option
		        *ngFor="let option of oaTypeAll"
		        [nzLabel]="option.label"
		        [nzValue]="option.label">
		      </nz-option>
		    </nz-select>
  		</div>
  		<nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请选择开户银行！'" [hidden]="oaTypeRef.valid || oaTypeRef.pristine"></nz-alert>

  		<div class="hd-form-group" nz-row>
  			<label nz-col [nzSpan]="9">开户卡号</label>
  			<input nz-col [nzSpan]="15" type="text" name="oaId" [(ngModel)]="data.oaId" placeholder="请输入开户卡证号" required #oaIdRef="ngModel" minlength="15" maxlength="18" (focus)="hideUpdateError()">
  		</div>
      	<nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请输入15-18位开户卡号！'" [hidden]="oaIdRef.valid || oaIdRef.pristine"></nz-alert>

        <div class="hd-form-group" nz-row>
  			<label nz-col [nzSpan]="9">地址</label>
  			<input nz-col [nzSpan]="15" type="text" name="address" [(ngModel)]="data.address" placeholder="请输入地址" #addressRef="ngModel" (focus)="hideUpdateError()">
  		</div>

        <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'修改失败，开户名与开户卡号不匹配！'" [hidden]="isUpdateSuccess"></nz-alert>

  		<div class="login-btn-box">
  			<div class="login-btn" [class.login-btn-disabled]="!updateForm.form.valid">
  				<button type="submit" [disabled]="!updateForm.form.valid">保存/修改</button>
  			</div>
  		</div>
  	</form>
  </nz-content>
</nz-layout>
