<nz-layout class="hd-login" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="修改密码"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<form>
  		<div class="hd-form-group bt" nz-row>
  			<label nz-col [nzSpan]="6">旧密码</label>
  			<input nz-col [nzSpan]="18" type="password" name="">
  		</div>
  		<div class="hd-form-group" nz-row>
  			<label nz-col [nzSpan]="6">新密码</label>
  			<input nz-col [nzSpan]="18" type="password" name="">
  		</div>
  		<div class="hd-form-group" nz-row>
  			<label nz-col [nzSpan]="6">重复密码</label>
  			<input nz-col [nzSpan]="18" type="password" name="">
  		</div>
  		<div class="login-btn-box">
  			<div class="login-btn">
  				<a href="javascript: void(0);">修改</a>
  			</div>
  		</div>
  	</form>
  </nz-content>
</nz-layout>
