<nz-layout class="hd-login" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="我的申请"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list" *ngIf="data?.status == 0">
  		<div nz-row class="list-item progress">
  			<span nz-col [nzSpan]="24">{{data?.statusText}}<i>{{data?.statusText1}}</i></span>
  		</div>
  		<div nz-row class="list-item step" nz-row>
          <!-- <ng-container *ngIf="data?.status == 0">
            <div class="step-l" nz-col [nzSpan]="8">
              <img src="/assets/images/step_bg6.png"  alt="" /><span>待审核</span>
            </div>
            <div nz-col [nzSpan]="8" class="step-c"></div>
            <div class="step-r" nz-col [nzSpan]="8">
              <img src="/assets/images/step_bg22.png"  alt="" />
              <span>已审核</span>
            </div>
          </ng-container> -->
          <ng-container>
            <div class="step-l active" nz-col [nzSpan]="8">
              <img src="/assets/images/step_bg1.png"  alt="" /><span>待审核</span>
            </div>
            <div nz-col [nzSpan]="8" class="step-c activel activer"></div>
            <div class="step-r active" nz-col [nzSpan]="8">
              <img src="/assets/images/step_bg2.png"  alt="" />
              <span>已审核</span>
            </div>
          </ng-container>
  		</div>
  		<div nz-row class="list-title">
  			<span nz-col [nzSpan]="24">&nbsp;</span>
  		</div>
  		<div nz-row class="list-item examine"><span nz-col [nzSpan]="24">审核信息</span></div>
  		<div nz-row class="list-item"><span nz-col [nzSpan]="24">审核人编号：{{data?.shid}}</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">姓名：{{data?.shname}}</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">联系电话：{{data?.shphone}}</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">银行户名：{{data?.yhtype}}</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">银行账号：{{data?.yhid}}</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">金额：{{data?.price}}</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">备注：{{data?.level}}</span></div>
         <div nz-row class="list-item"><span nz-col [nzSpan]="24">申请时间：{{data?.date}}</span></div>
  	</div>
  	<!-- <div class="login-btn-box">
		<div class="login-btn" [class.login-btn-disabled]="data?.status == 0">
			<button>{{data?.status ? '通过' : '已通过'}}</button>
		</div>
	</div> -->

  <div class="pop-success" *ngIf="data?.status == 1">
    <div class="pop-body tc">
      <div class="pop-title">
        <h1>恭喜您！</h1>
        <p class="tc">成为二级经纪人</p>
      </div>
        <p class="mt10 "><img src="/assets/images/mes_bg.png "   alt="" class=""  /></p>
    </div>
  </div>

  <div class="pop_mes" *ngIf="data?.status == 2">
    <div class="pop-body tc borb1 tcenter">
      <p><img src="/assets/images/suc_img.png"  alt="" width="50" /></p>
      <p class="mt10 fc54">恭喜您申请成功！</p>
       <p class="mb10">您的审核人只有在收到您的升级<br />佣金后才能给您确认升级！<br />审核人联系方式:<br>18782978934
       </p>
    </div>
    <div class="tc"><a routerLink="/admin/pay" class="btn-blue mt10">前往支付佣金</a></div>

  </div>

  </nz-content>
</nz-layout>
