<nz-layout class="hd-login" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="注册"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<form #registerForm="ngForm" (ngSubmit)="register()">

  		<div class="hd-form-group bt" nz-row>
  			<label nz-col [nzSpan]="6">用户名</label>
  			<input nz-col [nzSpan]="18" type="" name="name" [(ngModel)]="name" placeholder="请输入用户名" required #nameRef="ngModel" minlength="2" maxlength="6" (key.up)="hideError()">
  		</div>
      <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请输入2-6位用户名！'" [hidden]="nameRef.valid || nameRef.pristine"></nz-alert>

  		<div class="hd-form-group" nz-row>
  			<label nz-col [nzSpan]="6">电子邮箱</label>
  			<input nz-col [nzSpan]="18" type="" name="email" [(ngModel)]="email" placeholder="请输入电子邮箱" required #emailRef="ngModel" hdEmail (key.up)="hideError()">
  		</div>
      <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请输入正确的电子邮箱！'" [hidden]="emailRef.valid || emailRef.pristine"></nz-alert>

  		<div class="hd-form-group" nz-row>
  			<label nz-col [nzSpan]="6">密码</label>
  			<input nz-col [nzSpan]="18" type="password" minlength="6" maxlength="20" required name="pwd" [(ngModel)]="pwd" placeholder="请输入6-20位的密码！" required #pwdRef="ngModel" (key.up)="hideError()">
  		</div>
      <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'请输入6-20位的密码！'" [hidden]="pwdRef.valid || pwdRef.pristine"></nz-alert>

      <div class="hd-form-group" nz-row>
        <label nz-col [nzSpan]="6">重复密码</label>
        <input nz-col [nzSpan]="18" type="password" minlength="6" maxlength="20" name="cpwd" [(ngModel)]="cpwd" placeholder="请输入6-20位的重复密码！" required #cpwdRef="ngModel" (key.up)="hideError()">
      </div>
      <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'重复密码与密码不一致！'" [hidden]=" cpwdRef.pristine || cpwdRef.value == pwdRef.value"></nz-alert>

        <nz-alert [nzType]="'error'" nzCloseable
        [nzDescription]="'注册失败，请检查输入是否正确！'" [hidden]="isRegisterSuccess"></nz-alert>

  		<div class="login-btn-box">
  			<div class="login-btn" [class.login-btn-disabled]="!registerForm.form.valid || (cpwdRef.value != pwdRef.value)">
  				<button type="submit" [disabled]="!registerForm.form.valid || (cpwdRef.value != pwdRef.value)">注册</button>
  			</div>
  			<div class="login-tip">
  				<a></a>
  				<a routerLink="/auth/login">已有账号？</a>
  			</div>
  			
  		</div>
  	</form>
  </nz-content>
</nz-layout>
