<nz-layout>
  <nz-header>
    <hd-nav-bar viewTitle="申请列表"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="list apply-list">
     <div class="list-item" nz-row>
       <a routerLink="/myapply" nz-col [nzSpan]="16">
         <span><span class="red">待审核</span><span class="ml10 line-through">2015-10-28</span> <span class="ml10">11:44:33</span></span>
         <strong>申请人：猫儿</strong>
       </a>
       <div nz-col [nzSpan]="8">
         <i class="anticon anticon-delete"></i>
         <p>第一级 <span>￥<i>60</i></span></p>
       </div>
     </div> 
     <div class="list-title"></div>
     <div class="list-item mt10" nz-row>
       <a routerLink="/myapply" nz-col [nzSpan]="16">
         <span><span class="red">待审核</span><span class="ml10 line-through">2015-10-28</span> <span class="ml10">11:44:33</span></span>
         <strong>申请人：猫儿</strong>
       </a>
       <div nz-col [nzSpan]="8">
         <i class="anticon anticon-delete"></i>
         <p>第一级 <span>￥<i>60</i></span></p>
       </div>
     </div> 
     <div class="list-title"></div>
     <div class="list-item mt10" nz-row>
       <a routerLink="/myapply" nz-col [nzSpan]="16">
         <span><span class="red">待审核</span><span class="ml10 line-through">2015-10-28</span> <span class="ml10">11:44:33</span></span>
         <strong>申请人：猫儿</strong>
       </a>
       <div nz-col [nzSpan]="8">
         <i class="anticon anticon-delete"></i>
         <p>第一级 <span>￥<i>60</i></span></p>
       </div>
     </div> 
    </div>
  </nz-content>
</nz-layout>
