<nz-layout class="hd-login" [@simAnim]="'flyIn'">
  <nz-header>
    <hd-nav-bar viewTitle="分享" btnType="btn" (btnClickFn)="showModal()" btnIcon="anticon anticon-share-alt"></hd-nav-bar>
  </nz-header>
  <nz-content>
  	<div class="bgWhite lrSpace tbSpace">
  		<img src="/assets/images/wx.png" alt="" class="img-responsive">
  		<p class="mt20">这是您个人专属的二维码，任何情况扫码注册都将正价您的团队成员。</p>
  	</div>

    <div class="share tc pb20"  [class.active]="isVisible">
      <div class="share-mark" (click)="close()"></div>
      <div class="share-container">
        <h1 class="tcenter">分享</h1>
        <div nz-row>
          <div nz-col [nzSpan]="8">
            <a routerLink="/home"><img src="/assets/images/icon5.png"  alt="" />微信好友</a>
          </div>
          <div nz-col [nzSpan]="8">
            <a routerLink="/home"><img src="/assets/images/icon6.png"  alt="" />QQ</a>
          </div>
          <div nz-col [nzSpan]="8">
            <a routerLink="/home"><img src="/assets/images/icon7.png"  alt="" />微信朋友圈</a>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="8">
            <a routerLink="/home"><img src="/assets/images/icon8.png"  alt="" />QQ空间</a>
          </div>
          <div nz-col [nzSpan]="8">
            <a routerLink="/home"><img src="/assets/images/icon9.png"  alt="" />新浪微博</a>
          </div>
          <div nz-col [nzSpan]="8">
            <a routerLink="/home"><img src="/assets/images/icon10.png"  alt="" />短信</a>
          </div>
        </div>
        <div nz-row class="share-cancel" (click)="close()">
          <div nz-col [nzSpan]="24">取消</div>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
